@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: bloubing_light;
}

@plugin "daisyui/theme" {
  name: 'bloubing_light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: #fff7f3;
  --color-base-200: #dae0d2;
  --color-base-300: #f5f3e6;
  --color-base-content: #1e2939;
  --color-primary: #d9ffb6;
  --color-primary-content: #1e2939;
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #b1f282;
  --color-accent-content: #1e2939;
  --color-neutral: #1e2939;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #9bd6ff;
  --color-info-content: #1e2939;
  --color-success: #00c781;
  --color-success-content: #1e2939;
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: #1e2939;
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: #1e2939;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'bloubing_dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #312f43;
  --color-base-200: #1e2939;
  --color-base-300: #2a303d;
  --color-base-content: #ffff;
  --color-primary: #d9ffb6;
  --color-primary-content: #1e2939;
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #b1f282;
  --color-accent-content: #1e2939;
  --color-neutral: #1e2939;
  --color-neutral-content: #e4e4e7;
  --color-info: #9bd6ff;
  --color-info-content: #1e2939;
  --color-success: #00c781;
  --color-success-content: #1e2939;
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: #1e2939;
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: #1e2939;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme inline {
  --color-papyrus: #fff7f3;
  --color-pistachio: #d9ffb6;
  --font-poppins: 'Poppins', sans-serif;
  --font-sans:
    Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    font-family: var(--font-poppins);
  }

  html {
    background-color: #1e2939;
  }
}
